<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tailspintoys2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-am2-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TailspinToys2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TailspinToys2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TailspinConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:ldpjzkhqak.database.windows.net,1433;Initial Catalog=TailspinToys2Database;User ID=demo@ldpjzkhqak;Password=123abcABC" Name="Data Source=tcp:ldpjzkhqak.database.windows.net,1433;Initial Catalog=TailspinToys2Database;User Id=demo@ldpjzkhqak;Password=123abcABC" />
          <Object Type="DbDacFx" Enabled="False">
            <PreSource Path="Data Source=localhost;Initial Catalog=TailspinToys;User ID=sa;Password=sql;Max Pool Size=1000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TailspinConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=localhost;Initial Catalog=TailspinToys;User=sa;pwd=sql;Max Pool Size=1000" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbDacFx">
            <Source Path="..\..\..\bin\Tailspin.Schema.dacpac" dacpacAction="Deploy" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TailspinConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ldpjzkhqak.database.windows.net,1433;Initial Catalog=TailspinToys2Database;User Id=demo@ldpjzkhqak;Password=123abcABC</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>